* {
	margin:0;
	padding: 0;
}
body {
	background: #9A9A9A
}

header {
	
}

#main {
	display: grid;
	
}

.item {
	background-color: white;
	color: black;
	padding: 10px;
	height: 40px;
}

.items {
	display: grid;
	max-width: 70%;
}









@media screen and (min-width:700px) {}


@media screen and (min-width:900px) {}