* {
	margin:0;
	padding: 0;
}
body {
	margin: 0;
	background:rgba(237,237,237,1.00);
}

.logo {
	font-size: 36px;
	padding: 5px 0px 0px 10px;
	color: white;
	width: 13.25%;
}

.headerLinks {
	margin-left: auto;
	padding: 15px 15px 0px 0px;
	
}

.headerLinks a, .logo a {
	text-decoration: none;
}

.headerLinks a:link, .headerLinks a:visited, .logo a:link, .logo a:visited{
	color: white
}

.headerLinks a:hover, .logo a:hover  {
	color: rgba(187,218,255,1.00);
}

header {
	background: rgba(62,165,217,1.00);
	width: 100%;
	height: 50px;
	display: flex;
	position: fixed;
	z-index: 2;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.17);
}

.mainWrapper {
	
}

.container .brands .brand {
	background-color: white;
	color: black;
	padding: 20px;
	border-radius: 5px;
	overflow: auto;
	text-decoration: none;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
}

.container .brands .brand .content {
	display: flex;
	flex-direction: column;
}

.container .brands .brand .content .info {
	margin: 1%;
}

.container .brands .brand .brandName {
	border-bottom: solid thin #AAAAAA;
	margin-bottom: 5px;
	text-align: center;
	width: 35%;
}

.container .brand img {
	max-width: 100%;
  	object-fit: contain;
  	max-height: 100%;
	
}

.container .brands {
	display: grid;
	gap: 10px;
	grid-template-columns: 20% 20% 20% 20%;
	grid-template-rows: auto;
	padding-left: 18%;
	padding-top: 60px;
	padding-bottom: 10px;
	justify-items: left;
}

.container {
	
}

.container .sideMenu {
	height: 100%; 
	position: fixed;
	left: 0;
	top: 0;
  	background-color: rgba(109,178,212,1.00);
	width: 14%;
	text-align: center;
	padding-top: 60px;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
}

.container .sideMenu h2 {
	
}

/**.carNav {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 10px;
	gap: 5px;
}**/

/**.op {
	background: #D1D1D1;
	border-radius: 20px;
	padding: 5px 10px;
	border: solid #D1D1D1;
	
}

.op a {
	text-decoration: none;
	color: black
}**/

@media screen and (min-width:650px) {
	.brands {
		grid-template-columns: repeat(2, 48%)
	}
	.container .brands .brand .content {
		display: flex;
		flex-direction: row;
	}
}

@media screen and (min-width:900px) {
	.brands {
		grid-template-columns: repeat(6, 10%)
	}
	.container .brands .brand .content {
		display: flex;
		flex-direction: row;
	}
}